nav
	height auto
	overflow hidden
	box-sizing border-box
	
	.title
		font-size 1.6em
		display inline-block
		margin-left 15px

	.navigation
		float right
		
		.menu-button
			font-size 1.6em
			margin 0px 18px